<html>
	<form method = "POST" action = "/animal">
		<label for = "name">Enter name of your spirit animal:</label>
		<input type = "text" name = "name" />
		<label>Select Type:</label>
		<select name = "type">
			<option value = "panther">Panther</option>
			<option value = "lion">Lion</option>
			<option value = "panda">Panda</option>
			<option value = "bear">Bear</option>
			<option value = "cobra">Cobra</option>
			<option value = "tarsier">Tarsier</option>
			<option value = "mouse">Mouse</option>
		</select>
		<br />
		<input type = "submit" value = "Summon!" />
	</form>
</html>
