<html>
	<head>
		<title>This is my website</title>
		<style type ="text/css">
			body {background-color: pink;}
		</style>
	</head>
	<body>
		<h1>Welcome to my website</h1>
		<h2><%= @message %></h2>
		<h3>The value of @i is <%= @i %></h3>
	</body>
</html>
